# Treat .mlx files as MATLAB code for the language statistics
*.mlx linguist-language=MATLAB

# Let example files count towards language statistics
main/examples/*.py linguist-documentation=false
main/examples/*.r linguist-documentation=false